* 	{    
		font-family: Terminess Nerd Font;
		font-size: 14px;
	}

	window#waybar {
		background-color: @theme_base_color;
		background: shade(alpha(@borders, 0.6), 1);
		border: 1px solid @theme_text_color;
		color: @theme_text_color;
		border-radius: 8px;
	}

	/* TOOLTIP */
	tooltip {
		background: shade(alpha(@borders, 0.7), 1.25);
		border: 1px solid @theme_text_color;
	}

	tooltip label {
		color: @theme_text_color;
	}

	/* BUTTON */
	button {
	}

	/* WORKSPACES BUTTON */
	#workspaces button {
		border-bottom: 1px solid @theme_text_color;
		border-top: 1px solid @theme_text_color;
		padding-right: 10px;
		padding-right: 10px;
	}

	#workspaces button:hover {
		background: shade(alpha(@borders, 0), 1);
		
	}

	#workspaces button.urgent {
		background: #994444;
	}

	/* TASKBAR BUTTON */
	#taskbar button {
		
	}

	#taskbar button:hover {
		background: shade(alpha(@borders, 0), 1);
		border-bottom: 1px solid @theme_text_color;
		border-top: 1px solid @theme_text_color;
	}

	#taskbar button.active {
		
		border-right: 1px solid @theme_text_color;
		border-bottom: 1px solid @theme_text_color;
		border-top: 1px solid @theme_text_color;
		padding-right: 14px;
	}

	/* MODE */
	#mode {
		background-color: #553311;
		border-bottom: 3px solid #ffffff;
	}

	/* MODULES */
	#clock,
	#battery,
	#cpu,
	#memory,
	#disk,
	#temperature,
	#backlight,
	#network,
	#power-profiles-daemon,
	#pulseaudio,
	#wireplumber,
	#custom-music
	#custom-power,
	#custom-gamma,
	#custom-pacman, 
	#tray,
	#mode,
	#idle_inhibitor,

	/* If workspaces is the leftmost module, omit left margin */
	.modules-left > widget:first-child > #workspaces {
		margin-left: 0;
	}

	/* If workspaces is the rightmost module, omit right margin */
	.modules-right > widget:last-child > #workspaces {
		margin-right: 0;
	}

	#workspaces {
	}

	#taskbar {
	}

	#clock {
		color: @theme_text_color;
		padding-left: 8px;
		padding-right: 8px;
	}

	#cpu {
		color: @theme_text_color;
		padding-left: 8px;
	}

	#disk {
		color: @theme_text_color;
		 padding-left: 8px;
	}

	#disks {
		color: @theme_text_color;
		
	}

	
	#hardware {
		color: @theme_text_color;
		margin-right: 40px;
	}

	#idle_inhibitor {
		color: @theme_text_color;
		min-width: 14px;
		padding-right: 10px;
	}

	#idle_inhibitor.activated {
		color: @theme_text_color;
	}

	label:focus {
		background-color: @theme_text_color;
	}

	#memory {
		color: @theme_text_color;
		padding-left: 8px;
	}

	#network {
		color: @theme_text_color;
	}

	#network.disconnected {
		color: @theme_text_color;
	}

	#power-profiles-daemon{
		color: @theme_text_color;
		padding-right: 10px;
	}

	#pulseaudio {
		color: @theme_text_color;
	}

	#pulseaudio.muted {
	}

	#temperature {
		color: @theme_text_color;
		min-width: 40px;
		padding-left: 8px;
	}

	#temperature.critical {
		background: #ff0000;
		color: @theme_text_color;
		padding-left: 8px;
	}

	#tray {
		color: @theme_text_color;
		padding-left: 10px;
	}

	#tray > .passive {
		-gtk-icon-effect: dim;
	}

	#tray > .needs-attention {
		-gtk-icon-effect: highlight;
	}
	
	#hyprland-window {
		color: @theme_text_color;
	}
	
	#wireplumber {
		color: @theme_text_color;
	}

	#wireplumber.muted {
	}

	#custom-audio_idle_inhibitor {
		color: @theme_text_color;
		min-width: 20px;
		margin: 2px;
	}

	#custom-gamma {
		color: @theme_text_color;
		min-width: 16px;
		padding-right: 4px;
	}

	#custom-launcher {
		color: @theme_text_color;
		border-right: 1px solid @theme_text_color;
		padding-right: 5px;
	}

	#custom-power {
		color: @theme_text_color;
		min-width: 16px;
		padding-right: 5px;
		border-left: 1px solid @theme_text_color;
	}

	#custom-music {
		color: @theme_text_color;
		min-width: 400px;
		padding-left: 40px;
		padding-right: 40px;
	}

	#custom-music.Playing {
		color: @theme_text_color;
	}

	#custom-music.Paused{
		color: @theme_text_color;
	}

	#custom-music.Stopped{
		color: @theme_text_color;
	}

	#custom-pacman {
		color: @theme_text_color;
		padding-left: 10px;
		padding-right: 10px;
	}
/* Making Waybar follow the Gtk theme

Gtk CSS has some global theme variables, and by using these instead of hardcoded values, Waybar will automatically follow your Gtk theme. An example:

window#waybar {
    font-family: inherit;
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

The Gtk theme variables can be further refined by using the shade, mix, and/or alpha modifiers. For example, if you want to make the bar 25 % lighter and 10 % @color3, you can style the background like this:

window#waybar {
    background: shade(alpha(@borders, 0.9), 1.25);
}

For a list of valid Gtk theme variables, check out Gnome's stylesheet on Gitlab. */
