* { font-family: "Terminess Nerd Font Mono";
	}

window {	
	background-color: @theme_base_color;
    background: shade(alpha(@borders, 0.7), 0.5);
	color: @theme_text_color;
	border: 1px solid @theme_text_color;
    border-radius: 8px;
   # transition-property: background-color;
    transition-duration: .5s;
}

	#input {
		margin: 5px;
		background: shade(alpha(@borders, 0.7), 0.5);
		color: @theme_text_color;
		padding:5px 10px;
		border-radius: 8px;
	}

	#inner-box {
		margin: 5px;
		background-color:transparent;
    	color: @theme_text_color;
	}

	#outer-box {
		margin: 5px;
		background-color:transparent;
		color: @theme_text_color;
		border-radius: 8px;
	}

	#scroll {
		margin: 5px;
		background-color:transparent;
		color: @theme_text_color;
	}

	#entry {
		margin: 5px;
		background-color:transparent;
		color: @theme_text_color;
	}

	#entry:selected {
		margin: 5px;
		background: shade(alpha(@borders, 0.7), 0.5);
		color: @theme_text_color;
	}
		
	#expander-box {
		background-color:transparent;
		color: @theme_text_color;
		border: 1px solid @theme_text_color;
	}
	#text {
		margin: 5px;
		background-color:transparent;
		color: @theme_text_color;
	} 

	#text:selected {
		margin: 5px;
		background-color:transparent;
		color: @theme_text_color;
		}

	#image{
		background-color:transparent;
		margin: 5px; 
	}
